@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 0;
    }
.home{
    width: 3em;
    padding: 5px;
    height: 3em;
    transition: 0.5s;
}
.home:hover{
  background-color: #8B0000;
  color: white;
}
header{
    width: 100%;
    border-bottom: solid yellow 3px;
}
nav{
    border-bottom: solid blue 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div{
    font-size: 35px;
    font-weight: bold;
}
.logo{
  width: 1.5em;
  padding: 0;
}
.svg{
  width: 1.5em;
}
.icons button{
  background-color: brown;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}









.img{
   width: 35em;
   height: 20em;
   overflow: hidden;
   display: flex;
   border-radius: 20px;
   box-shadow: 0 9px 13px 0 rgba(0,0,0,0.2);
}
.img img{
    width: 35em;
    height: 20em;
    transition: 0.5s ease-in-out;
}
.box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    text-align: center;
    justify-content: center;
    gap: 1em;
}
.text{
    font-weight: bold;
}
.img img:hover{
    transform: scale(1.1);
}
.text{
    background-color: brown;
    border-radius: 20px;
    color: white;
    margin-top: 1em;
    transition: 0.5s ease-in-out;
}
.box a{
    text-decoration: none;
}
.text:hover{
    background-color: rgb(102, 20, 20);
}
.title{
    font-weight: bold;
    font-size: 1.5em;
}
.bold{
    font-weight: bold;
}
.unesco{
  width: 100%;
}
@media only screen and (max-width: 550px) {
  .logo{
    width: 1.5em;
    margin: 0;
  }
  nav div{
  font-size: 30px;
  }
  .home{
  width: 2em;
  }
.arrow{
  margin-top: 13.9em;
}
.back{
  width: 20em;
  height: 12em;
}
header{
  height: 3.5em;
}
nav{
  height: 3.3em;
}
.icons button{
  font-size: 10px;
}
nav div{
font-size: 20px;
}
.svg{
  display: none;
}
.img{
  width: 100%;
}
.img img{
  width: 100%;
}
}
@media screen and (max-width: 350px) {
  .img{
    height: 13em;
  }
  nav div{
    font-size: 15px;
    }
}







footer{
    background-color: #24262b;
  }
  .footer-container{
    max-width: 1190px;
    margin: auto;
    text-align: center;
  }
  ul{
    list-style: none;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .footer-col{
    width: 11%;
    padding: 0 15px;
    flex-wrap: wrap;
  }
  .footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: white;
    padding-left: 10px;
  }
  .footer-col .social-links{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,225,225,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    transition: all 0 .5 ease;
    color: #bbbbbb;
  }
  .footer-col .social-links:hover{
    color: #24262b;
    background-color: white;
    transition: all 0 .5 ease;
  }
  
  @media(max-width: 767px){
    .footer-col {
      width: 100%;
      margin-bottom: 0px;
    }
    .sub{
      flex-wrap: wrap;
    }
  }
  @media(max-width: 574px){
    .footer-col {
      width: 100%;
    }
}